html, body {
    box-sizing: border-box;
    width: 100%;
    min-width: none !important;
    background-image: url("https://i.ytimg.com/vi/xAddVq4Awq4/maxresdefault.jpg") !important;
    background-size: cover !important;
    background-position: center center !important;
    background-attachment: fixed;
}

::-webkit-scrollbar {
    display: none;
}

.aGiS-qE { /* main container */
    
}

.SX1dr9D { /* navbar */
    width: 100%;
    min-width: none !important;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.vS3BlwO { /*mctiers.com*/
    display: none !important;
}

.pcYAS7Y { /* search bar container */
    position: absolute !important;
    left: 2% !important;
    transform: translate(-0%, 0) !important;
    width: 96vw !important;
    height: 35px !important;
}

.Z--0YlZ { /* search bar */
    width: 96vw !important;
    height: 35px !important;
}

input[type="text"] { /* search bar input */
    width: 96vw !important;
    height: 35px !important;
    position: absolute;
    left: 50% !important;
    transform: translate(-50%, 0);
    background-color: rgba(0, 0, 0, 0.3) !important;
}

.cPVdVTf { /*overall-ranking-chart*/ 
    position: relative !important;
    left: 2vw !important;
    width: 96vw !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.NOK8An4 { /*ranking-selector*/
    width: 96vw !important;
}

._26MSXHF, ._26MSXHF::before, ._26MSXHF::after { /*ranking-category*/
    background-color: rgba(40, 40, 40, 1) !important;
    border: none !important;
}

._26MSXHF::before, ._26MSXHF::after { /*ranking-category*/
    top: 0px !important;
    height: 50px !important;
}

._26MSXHF::before {
    left: -20px !important;
}

._26MSXHF::after {
    right: -20px !important;
}

.q5a8gP5 { /* separator */
    background-color: rgba(0,0,0,0.5) !important;
}

.Mtz30OF { /*main-chart*/ 
    padding: 0 !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.eniNdtn { /*player-line*/
    background-color: rgba(0, 0, 0, 0.3) !important;
}

.Zw1udpZ { /*player-line-pair*/
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.pku-AyF { /*default-player-rank*/
    background-color: rgba(0, 0, 0, 0.4) !important;
}

._6hs0DHR { /*player-rank-1*/
    background-color: #FBB03B !important;
}

.Hlu4Wkr { /*player-rank-2*/
    background-color: #B3B3B3 !important;
}

.clH0vXI { /*player-rank-3*/
    background-color: #E38D4F !important;
}

.XpMXb9n { /*misc-player-infos*/
    background-color: rgba(0, 0, 0, 0.4) !important;
}

._8h7ZAvq { /*player-ranks-container*/
    background-color: rgba(0, 0, 0, 0) !important;
}

.zUhqIWn { /*player-rank*/
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.EjS5bpE { /*player-rank-content*/
    background-color: rgba(0, 0, 0, 0) !important;
    color: #cccccc !important;
    font-size: 80%  !important;
    font-weight: 400 !important;
}