@charset "UTF-8";

/*
--- IMAGES ---
Vanilla: https://i.ytimg.com/vi/xAddVq4Awq4/maxresdefault.jpg
Sword: https://the-minecraft.fr/upload/default/holy-minecraft-sword.jpeg

*/

html, body {
    box-sizing: border-box;
    width: 100%;
    min-width: none !important;
    background-image: url("https://i.ytimg.com/vi/xAddVq4Awq4/maxresdefault.jpg") !important;
    background-size: cover !important;
    background-position: center center !important;
    background-attachment: fixed;
}

::-webkit-scrollbar {
    display: none;
}

.aGiS-qE { /* main container */
    /*---*/
}

.SX1dr9D { /* navbar */
    width: 100%;
    min-width: none !important;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.vS3BlwO { /*mctiers.com*/
    display: none !important;
}

.pcYAS7Y { /* search bar container */
    position: absolute !important;
    left: 2% !important;
    transform: translate(-0%, 0) !important;
    width: 96vw !important;
    height: 35px !important;
}

.Z--0YlZ { /* search bar */
    width: 96vw !important;
    height: 35px !important;
}

input[type="text"] { /* search bar input */
    width: 96vw !important;
    height: 35px !important;
    position: absolute;
    left: 50% !important;
    transform: translate(-50%, 0);
    background-color: rgba(0, 0, 0, 0.3) !important;
}

.Z--0YlZ .u6G5-E5 { /*search-icon*/
    top: 50% !important;
}

.cPVdVTf { /*overall-ranking-chart*/ 
    position: relative !important;
    left: 2vw !important;
    width: 96vw !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.NOK8An4 { /*ranking-selector*/
    width: 96vw !important;
}

._26MSXHF, ._26MSXHF::before, ._26MSXHF::after { /*ranking-category*/
    background-color: rgba(40, 40, 40, 1) !important;
    border: none !important;
}

._26MSXHF::before, ._26MSXHF::after { /*ranking-category*/
    top: 0px !important;
    height: 50px !important;
}

._26MSXHF::before {
    left: -20px !important;
}

._26MSXHF::after {
    right: -20px !important;
}

.q5a8gP5 { /* separator */
    background-color: rgba(40,40,40,1) !important;
}

.Mtz30OF { /*main-chart*/ 
    padding: 0 !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.eniNdtn { /*player-line*/
    background-color: rgba(0, 0, 0, 0.3) !important;
}

.Zw1udpZ { /*player-line-pair*/
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.pku-AyF { /*default-player-rank*/
    background-color: rgba(0, 0, 0, 0.4) !important;
}

._6hs0DHR { /*player-rank-1*/
    background-color: #FBB03B !important;
}

.Hlu4Wkr { /*player-rank-2*/
    background-color: #B3B3B3 !important;
}

.clH0vXI { /*player-rank-3*/
    background-color: #E38D4F !important;
}

.XpMXb9n { /*misc-player-infos*/
    background-color: rgba(0, 0, 0, 0.4) !important;
}

._8h7ZAvq { /*player-ranks-container*/
    background-color: rgba(0, 0, 0, 0) !important;
}

.zUhqIWn { /*player-rank*/
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.EjS5bpE { /*player-rank-content*/
    background-color: rgba(0, 0, 0, 0) !important;
    color: #cccccc !important;
    font-size: 80%  !important;
    font-weight: 400 !important;
}

.EjS5bpE.af4ehsC { /*player-rank-HT*/
    background-color: rgba(62, 113, 244, 0.5) !important;
}

.EjS5bpE.gloyL5J { /*player-rank-LT*/
    background-color: rgba(128, 181, 255, 0.5) !important;
}

.EjS5bpE.LxVm7UP { /*player-rank-RETIRED*/
    background-color: rgba(161, 119, 255, 0.5) !important;
}

.L01uj9h { /*tierlist*/
    background-color: rgba(0, 0, 0, 0) !important;
}

._3lS8Z9g { /*tierlist-frames*/
    background-color: rgba(0, 0, 0, 0.4) !important;
    padding: 0 !important;
}

.hoURucT { /*tiers-separator*/
    background-color: rgba(0, 0, 0, 0) !important;
}

.Bbe5V8B .muYMFag { /*HT-player*/
    background-color: rgba(62, 113, 244, 0.8) !important;
}

.Bbe5V8B.En20RQV .muYMFag { /*LT-player*/
    background-color: rgba(128, 181, 255, 0.8) !important;
}

.pz51FLB { /*footer*/
    background-color: rgba(0, 0, 0, 0.5) !important;
    height: 120px !important;
}

.qI-SWG0 { /*footer-content*/
    height: 120px !important;
    padding: 30px 80px !important;
}

.-jJDNxh {/*footer-placeholder*/
    height: 120px !important;
    padding: 30px 80px !important;
}

._2jy4UCc { /*back-button*/
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.JAKx5mJ { /*info-content*/
    background-color: rgba(0, 0, 0, 0.4) !important;
    border-radius: 10px;
    padding: 0 !important;
    margin: 30px !important;
}

.JAKx5mJ h1, .JAKx5mJ .pdQCH-- { /*info-content*/
    margin: 15px !important;
}

.ty2Zm-C { /*player-profile*/
    min-width: none !important;
    min-height: none !important;
    width: 20vw !important;
    height: 80vh !important;
}

.Ljqknki { /*player-profile*/
    background-color: rgba(40, 40, 40, 0.6) !important;
    border-radius: 15px !important;
    overflow-y: scroll !important;
}

.Ie-Euqb { /*player-profile-top-container*/
    height: 80px !important;
    padding: 10px 0px !important;
}